/Unity/Library
/Unity/Logs
/Unity/obj
/Unity/Recordings
/Unity/ServerData
/Unity/Video
/Unity/.idea
/Unity/Builds
/Unity/VideoCaptureLib_Log.txt
/Unity/Temp
/Unity/Screenshots
/Unity/*.csproj
/Unity/*.sln
/Unity/Assets/Plugins/Sirenix/Assemblies/AOT.meta
/Unity/Assets/Plugins/Sirenix/Assemblies/AOT
/Unity/Unity.sln.DotSettings.user
/Unity/.vs/Unity/v16/.suo
/Unity/Assets/FR2_Cache.asset
/Unity/Assets/FR2_Cache.asset.meta
/bundletool/*.aab
/bundletool/*.apks
/bundletool/*.apk
/Unity/ProjectSettings/AndroidLogcatSettings.asset
/Unity/UserSettings/AndroidLogcatSettings.asset
